@import "variables.scss";
@import "./reset.scss";

html,
body {
  min-height: 100vh;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.section {
  padding: 70px 0;
}

@font-face {
  font-family: "Quicksand";
  src: url(./../fonts/quicksand/Quicksand-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(./../fonts/quicksand/Quicksand-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(./../fonts/quicksand/Quicksand-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(./../fonts/quicksand/Quicksand-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(./../fonts/quicksand/Quicksand-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Quicksand";
}
