// color
$black: #000000;
$white: #fff;
$whiteText: #fdfdfd;
$textPlaceholder: #acacac;
$whiteTextDisabled: #c7c6c6;
$bordedBtn: #c7c6c6;
$navbarBg: #f5f5f5;
$btnBg: #f4f4f4;
$btnBgHover: #d1d1d1;
$footerText: #868686;

//padding
$pad5: 5px;
$pad12: 12px;
$pad16: 16px;
$pad40: 40px;
$pad60: 60px;

//margin
$mar5: 5px;
$mar12: 12px;
$mar16: 16px;

//gap
